{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	
	<meta charset="UTF-8">
	<title> Criterios  </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>


	<div class="container">

		<div class="row">

			<div class="col">		
			</div>

			<div class="col">
				
				<h2> EVALUACIÓN DE CALETA</h2>
			</div>

			<div class="col">

			</div>
		</div>


		<div class="row">

			<div class="col">
			<h2> CRITERIOS DE EVALUACION </h2>		
			</div>

			<div class="col">
				
				
			</div>

			<div class="col">			
			</div>
		</div>


		<div class="row">
			<h2> 1. GENERAL </h2>

			<div class="container">
			  

			  <ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#home">Operacionales</a></li>		   
			    <li><a data-toggle="tab" href="#menu2">Entorno</a></li>
			    <li><a data-toggle="tab" href="#menu3">Organización</a></li>
			  </ul>

			  <div class="tab-content">
			    <div id="home" class="tab-pane fade in active">


			    	<hr>
			    	<h3> Operacionales</h3>
			    	<div class="form-group">
				    <label for="exampleFormControlSelect1">Localizacion</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Rural</option>
				      <option>Urbana</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Vias de Acceso </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Pavimentadas</option>
				      <option>Trocha carrosable</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Disponibilidad de Terreno para Intervencion de Mejoras </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>No disponen</option>
				      <option>Limitado</option>
				      <option>Amplia área disponioble</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1"> Actividad turistica aledaña </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Alta</option>
				      <option>Bja</option>
				      <option>Nula</option>
				    </select>
				  </div>


				   <div class="form-group">
				    <label for="exampleFormControlSelect1"> Relacion de la caleta con el turista </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Positiva</option>
				      <option>Nula</option>
				      <option>Negativa</option>
				    </select>
				  </div>

			      
			    </div>
			    <div id="menu2" class="tab-pane fade">

			    	<hr>
			    	<h3> Entorno</h3>
			    	<div class="form-group">
				    <label for="exampleFormControlSelect1">Localizacion</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Rural</option>
				      <option>Urbana</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Vias de Acceso </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Pavimentadas</option>
				      <option>Trocha carrosable</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Disponibilidad de Terreno para Intervencion de Mejoras </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>No disponen</option>
				      <option>Limitado</option>
				      <option>Amplia área disponioble</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1"> Actividad turistica aledaña </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Alta</option>
				      <option>Bja</option>
				      <option>Nula</option>
				    </select>
				  </div>


				   <div class="form-group">
				    <label for="exampleFormControlSelect1"> Relacion de la caleta con el turista </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Positiva</option>
				      <option>Nula</option>
				      <option>Negativa</option>
				    </select>
				  </div>

			    </div>
			    <div id="menu3" class="tab-pane fade">

			    	<hr>
			    	<h3> Organizcionales</h3>
			    	<div class="form-group">
				    <label for="exampleFormControlSelect1">Localizacion</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Rural</option>
				      <option>Urbana</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Vias de Acceso </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Pavimentadas</option>
				      <option>Trocha carrosable</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Disponibilidad de Terreno para Intervencion de Mejoras </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>No disponen</option>
				      <option>Limitado</option>
				      <option>Amplia área disponioble</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1"> Actividad turistica aledaña </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Alta</option>
				      <option>Bja</option>
				      <option>Nula</option>
				    </select>
				  </div>


				   <div class="form-group">
				    <label for="exampleFormControlSelect1"> Relacion de la caleta con el turista </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Positiva</option>
				      <option>Nula</option>
				      <option>Negativa</option>
				    </select>
				  </div>


			      
			    </div>
			  </div>
			</div>
			
		</div>


		<div class="row">
			<h2> 2. Infraestructura y servicio  </h2>

			<div class="container">
			  

			  <ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#home2">Infraestructura y Servicio</a></li>		   
			    
			  </ul>

			  <div class="tab-content">
			    <div id="home2" class="tab-pane fade in active">


			    	<hr>
			    	<h3> Infraestructura y Servicio </h3>
			    	<div class="form-group">
				    <label for="exampleFormControlSelect1">Infraestructura portuaria existente</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Rural</option>
				      <option>Urbana</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Infraestructura complementaria que dsponen </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Pavimentadas</option>
				      <option>Trocha carrosable</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Equipos que no poseen </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>No disponen</option>
				      <option>Limitado</option>
				      <option>Amplia área disponioble</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1"> Servicios Basicos que no dispone la caleta </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Alta</option>
				      <option>Bja</option>
				      <option>Nula</option>
				    </select>
				  </div>


				   <div class="form-group">
				    <label for="exampleFormControlSelect1"> Disponibilidad de espacio en la caleta </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Positiva</option>
				      <option>Nula</option>
				      <option>Negativa</option>
				    </select>
				  </div>

				  <div class="form-group">
				    <label for="exampleFormControlSelect1"> Estado de Infraestructura existente </label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Positiva</option>
				      <option>Nula</option>
				      <option>Negativa</option>
				    </select>
				  </div>
				  
			      
			    </div>
			    
			    
			  </div>
			</div>
			
		</div>


	</div>


</body>

<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<script>

$(document).ready(function() {
	
    $('#multiselect').multiselect({
    	includeSelectAllOption: true,
    	nonSelectedText: 'Seleccione Opciones',
    	enableFiltering: true,
    	enableCaseInsensitiveFiltering:true,
    	buttonWidth:'380px',  	
    	
    });  
});
</script>

<html>