{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/form_crit.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fondodash.css' %}" />  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
.cols {
  height: 600px;
  }
.izquier {
  position: left;
  width: 20%;
  padding-top:50px;
  padding-left: 30px;
  }
.container {
  width: 50%;
  }
.izquier,
.container {
  display: inline-table;
  height: 100%;
  }
.hidden{
    display:none;
}
.unhidden{
    display:block;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
  var contarMaria = 0 ;
  $("#funciona").click(function(){
    contarMaria = contarMaria +1 ;
    if (contarMaria %2 ==1){
    $("#maria").addClass("unhidden");
    $("#maria").removeClass("hidden");
    $("#funciona").addClass("btn-secondary");
    $("#funciona").removeClass("btn-primary");
    }
    else{
    $("#maria").addClass("hidden");
    $("#maria").removeClass("unhidden");
    $("#funciona").addClass("btn-primary");
    $("#funciona").removeClass("btn-secondary");
    }
$("#maria").attr("disabled", true);
  });
    var contarElvis = 0 ;
    $("#funciona2").click(function(){
    contarElvis = contarElvis +1;
    if (contarElvis % 2==1){
    $("#elvis").addClass("unhidden");
    $("#elvis").removeClass("hidden");
    $("#funciona2").addClass("btn-secondary");
    $("#funciona2").removeClass("btn-primary");
      }else{
    $("#elvis").addClass("hidden");
    $("#elvis").removeClass("unhidden");
    $("#funciona2").addClass("btn-primary");
    $("#funciona2").removeClass("btn-secondary");
  }
  });
  var category;
    $('radio[name="category"]').click(function(){
      category=this.value;
    });
});
</script>

<body>
	
	<nav class="navbar navbar-light bg-primary-light">
		<a class="navbar-brand">Bienvenid@:{{user}}</a>
		<form class="form-inline">
			<a href="{% url 'logout'%}" >Salir</a>
		</form>
  </nav>
  <div class = "cols">
  <div class="izquier">
    <p>Propuesta 1 :</p>
    <p>Clasificación de los Desembarcaderos</p> 
    <p>Propuesta 2 :</p>
    <p>Evaluación de los DPAS</p>
  </div>
	<div id="content" class="container">
     <div class="row">
        <input id ="funciona2" type="button"  class ="btn btn-primary" onclick="unhide(this, 'about') " value="Propuesta 1">
        <input id ="funciona" type="button" class ="btn btn-primary " onclick="unhide(this, 'about') " value="Propuesta 2">
        
     </div>
		<div id="maria" class="hidden">
        <div id="crit_head" class="row">
			<h2>Evaluación de Desembarcaderos Pesqueros Artesanales</h2>	
		</div>
		<hr>
		<div id ="results">
				{% for formulario in user.usuario.formulario_set.all %}
    				<ul>
    				<a id="espaciodea" href="{% url 'result_desembarco' formulario.pk %}">
          {{ formulario.nombreFormulario }}
            <a title="Descarga" href="{% url 'reporte_formularios_pdf' formulario.pk%}" target="_blank"><img width="30" src="{% static 'img/descarga.png' %}" alt="Descarga"/></a>

					</a>
					</ul>
				{% endfor %}			
				<div class="d-flex justify-content-around">
					<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="form_eval" role= "button">Nuevo Formulario</a>
					<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="resultadoxls" role= "button">Resultados</a>
				</div>
		</div>
        </div>

        <div id="elvis" class="hidden">
            <div id="crit_head" class ="row" >
			    <h2>Clasificación de barcos</h2>
		    </div>
		    <hr>
            <div id = "result">
            <div class="d-flex justify-content-around">
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{%url 'upload_csv'%}" role= "button">Clasificar Embarcaciones</a>

				</div>
            </div>
        </div>
        </div>
  </div>
</body>
</html>
