{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/agency.min.css' %}" />


</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">CiteSoft</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#entidad">Entidades</a>
                    </li>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="register">Registrar</a>
                        <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="login">Iniciar</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"> Herramientas para la</div>
                <div class="intro-lead-in ">Pesca Artesanal en el Perú</div>
                <div class="intro-lead-demo ">Version Demo</div>
                <!--a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="selectedcaleta">EVALUAR CALETA</a-->
            </div>
        </div>
    </header>

    <!-- Services -->
    <section id="entidad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Entidades Aliadas</h2>
                    <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <!--span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Ingeniería Pesquera</h4-->
                    <a title="Ingeniería Pesquera" href="https://www.facebook.com/ingenieriaPesqueraUNSA/" target="_blank"><img
                            src="{% static 'img/logos/pesquera.jpg' %}" alt="Ingeniería Pesquera" /></a>
                </div>
                <div class="col-lg-3">
                    <!--span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">UNSA</h4-->
                    <a title="Unsa" href="http://www.unsa.edu.pe/" target="_blank"><img class="largasunsa" src="{% static 'img/logos/unsa.jpg' %}"
                            alt="UNSA" /></a>
                </div>
                <div class="col-lg-3">
                    <!--span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <!h4 class="service-heading">Citesoft</h4-->
                    <a title="Citesoft" href="https://sites.google.com/episunsa.edu.pe/citesoft" target="_blank"><img src="{% static 'img/logos/citesoft.jpg' %}"
                            alt="Citesoft" /></a>
                </div>
                <div class="col-lg-3">
                    <!--span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <!h4 class="service-heading">Escuela de Sistemas</h4-->
                    <a title="Sistemas" href="https://www.facebook.com/Escuela-Profesional-de-Ingenieria-de-Sistemas-171720913528/" target="_blank"><img class="largas" src="{% static 'img/logos/sistemas.jpg' %}"
                            alt="Sistemas" /></a>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="copyright">Website 2018</span>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/agency.min.js' %}"></script>



</body>

</html>