{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/registrar.css' %}" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/agency.min.css' %}" />
  
</head>

<body>
 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{%url 'index'%}">CiteSoft</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="entidad">Entidades</a>
                </li>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="login">Iniciar</a>
                </div>
            </ul>
        </div>
    </div>
</nav>

<form action="{% url 'addUser'%}" method="post">
 {% csrf_token %}
<div class="container">
  <div id="login" class="login">
    <div class="login-icon-field">
      <img class="login-icon-field" src="{% static 'img/logo.png' %}" alt="My image">
    </div>
    <div class="login-form">
      <div class="username-row ">
        {{form.nombre}}
      </div>
      <div class="username-row ">
        {{form.apellido}}
      </div>
      <div class="username-row ">
        {{form.usuario}}
      </div>
      <div class="username-row ">
        {{form.dni}}
      </div>
      <div class="username-row ">
       {{form.correo}}
      </div>
      <div class="password-row ">
        {{form.password}}
      </div>
      <div class="username-row ">
        {{form.instituto}}
      </div>
    </div>
    <div class="call-to-action">
      <input type="submit" class="btn btn-primary" value="Registrar"></input>
    </div>
  </div>  
</div>
 </form>
<script type="text/javascript" src="{% static 'js/iniciar.js' %}"></script>
</body>
</html>    
      