{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <title>Resultado del formulario</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/myStyle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fondodash.css' %}" />  
  <!--script type="text/javascript">
    function valor(){
  nuevototal = 0.345; //totEval
  document.getElementById("ponderado").value = nuevototal;
  }
  </script-->

 </head>
 <body>
   
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <a class="navbar-brand">Bienvenid@:{{user}}</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'grafica'%}" role= "button">Estadísticos</a>
                  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'dash'%}" role= "button">Dashboard</a>
                  <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'logout'%}" >Salir</a>
                </div>
            </ul>
          </div>
    </nav>

  <form action="{% url 'save'%}" method="post">
    {% csrf_token %}
  <div id="res_content" class="container"> 

    <div class="fila" id="res_title">

      <h2 class="titulo"> Resultado de la Evaluacion del Desembarcadero</h2>
    </div>
    
    <div class="row" >
      <div class="col-sm-6 res_label">
        <h4 class="subtitulo"> Tipo de Categoria: </h4>
      </div>
      <div class="col-sm-6 res_desc">
        <h4 class="subtitulo"> {{ tipo }} </h4>
        <input type="hidden" name="tipo" value="{{tipo}}"/>
      </div>      
    </div>

    <div class="row" >
      <div class="col-sm-6 res_label">
        <h4 class="subtitulo"> Nivel Riesgo Productivo: </h4>
      </div>
      <div class="col-sm-6 res_desc">
        <h4 class="subtitulo"> {{ nivel }} </h4>
        <input type="hidden" name="nivel" value="{{nivel}}"/>
      </div>    
    </div>
    <div class="row" >
      <div class="col-sm-6 res_label">
        <h4 class="subtitulo"> Ponderado: </h4>
      </div>
      <div class="col-sm-6 res_desc">
        <h4 class="subtitulo">{{ ponderado }}</h4>
        <input type="hidden" name="ponderado" value="{{ponderado}}"/>
        <input type="hidden" name="condicion" value="{{condicion}}"/>
      </div>    
    </div>

    <div class="avgrund-cover"></div>

    <aside class="avgrund-popup">
    <!--div class = "row" id="ventanaflot"-->
        <h4 class="subtitulo">¿Con qué nombre le gustaría guardarlo?</h4>
        <hr>
        <div class="username-row">
        {{form.nombreFormulario}}
        </div>
        <input type="submit" class="btn btn-primary" value="Guardar"></input>
    <!--/div--> 
    </aside>
    <div class="row" id="res_btn">  
      <button type="button" class="btn btn-success btn-xl" id="botonverde" onclick="avgrund.activate()">Guardar</button>
      <button type="button" class="btn btn-success btn-xl" id="botonverde" onclick="RedirectToForm()">Realizar otra Evaluacion</button>
    </div>
  </div>
 </form>

<script type="text/javascript" src="{% static 'js/criterios.js' %}"></script>
<script type="text/javascript" src="{% static 'js/resultado.js' %}"></script>

 </body>
</html>


